<!DOCTYPE html>
<html>
	<title>全栈学习</title>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
<link href="http://localhost:3000/css/home.css?914232d432632c58d9a4" rel="stylesheet"></head>
<body>
<div id="app"><%-html%></div>
<script type="text/javascript">window.__store = <%-store%></script>
<script type="text/javascript" src="http://localhost:3000/js/home.js?914232d432632c58d9a4"></script></body>
</html>